---
import { getCollection, getEntry } from 'astro:content';

const experiences = await getCollection('experiences');
const first = experiences[0];
const company = await getEntry(first.data.companyId);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<p>{first.data.languages.en.role} @ {company.data.name}</p>
	</body>
</html>
